.App {
  width: 80%;
  margin: auto;
  margin-top: 4rem;
  padding: 0.8rem;
  border: 3px solid;
  border-radius: 0.4em;
  border-top-color: lightseagreen;
  border-left-color: lightseagreen;
  border-bottom-color: palevioletred;
  border-right-color: palevioletred;
  text-align: center;
}

div.search-bar{
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 2.5em;
  padding: 0.5em;
}

#search {
  font-size: 14px;
  outline-color: lightseagreen;
}

img.name-filter{
  width:24px;
  height: 24px;
  margin:0.15em;
  cursor: pointer;
}

.filter-female{
  background-color:rgb(238, 79, 79);
}

.filter-male{
  background-color: lightseagreen;
}

.active-filter{
  border-bottom: 2px solid;
}

.favourites {
  width: 90%;
  margin: auto;
  padding-bottom: 1rem;
  color: #bbb;
  text-align: left;
  border-bottom: 2px solid #ccc;
}

.favourites span {
  font-size: 2rem;
}

.name-picker {
  display: flex;
  flex-wrap: wrap;
  margin:2.5em auto 1.5em;
}

.name {
  font-size: 1.2em;
  margin: 0.15em;
  padding: 0.2em;
  border-radius: 0.2em;
}

.f-name {
  background-color: rgb(238, 79, 79);
  color: azure;
}

.m-name {
  background-color: lightseagreen;
}

.hidden{
  display: none;
}