.App {
  width: 80%;
  margin: auto;
  margin-top: 4rem;
  padding: 0.8rem;
  border: 3px solid;
  border-radius: 0.4em;
  border-top-color: lightseagreen;
  border-left-color: lightseagreen;
  border-bottom-color: palevioletred;
  border-right-color: palevioletred;
  text-align: center;
}

#search {
  margin: 2.5em;
  padding: 0.5em;
  font-size: 14px;
  outline-color: lightseagreen;
}

.favourites {
  width: 90%;
  margin: auto;
  padding-bottom: 1rem;
  color: #bbb;
  text-align: left;
  border-bottom: 2px solid #ccc;
}

.favourites span {
  font-size: 2rem;
}

.name-picker {
  display: flex;
  flex-wrap: wrap;
  margin:2.5em auto 1.5em;
}

.name {
  font-size: 1.2em;
  margin: 0.15em;
  padding: 0.2em;
  border-radius: 0.2em;
}

.f-name {
  background-color: rgb(238, 79, 79);
  color: azure;
}

.m-name {
  background-color: lightseagreen;
}
